<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Editors | Hyper - Responsive Bootstrap 5 Admin Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description">
    <meta content="Coderthemes" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- SimpleMDE css -->
    <link href="~/Content/simplemde.min.css" rel="stylesheet" type="text/css">

    <!-- Quill css -->
    <link href="~/Content/quill.bubble.css" rel="stylesheet" type="text/css">
    <link href="~/Content/quill.core.css" rel="stylesheet" type="text/css">
    <link href="~/Content/quill.snow.css" rel="stylesheet" type="text/css">

    <!-- App css -->
    <link href="~/Content/icons.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/app.min.css" rel="stylesheet" type="text/css" id="light-style">
    <link href="~/Content/app-dark.min.css" rel="stylesheet" type="text/css" id="dark-style">

</head>

<body class="loading" data-layout-config='{"leftSideBarTheme":"dark","layoutBoxed":false, "leftSidebarCondensed":false, "leftSidebarScrollable":false,"darkMode":false, "showRightSidebarOnStart": true}'>
    <!-- Begin page -->
    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        <div class="leftside-menu">

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-light">
                <span class="logo-lg">
                    <img src="~/images/logo.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="~/images/logo_sm.png" alt="" height="16">
                </span>
            </a>

            <!-- LOGO -->
            <a href="index.html" class="logo text-center logo-dark">
                <span class="logo-lg">
                    <img src="~/images/logo-dark.png" alt="" height="16">
                </span>
                <span class="logo-sm">
                    <img src="~/images/logo_sm_dark.png" alt="" height="16">
                </span>
            </a>

            <div class="h-100" id="leftside-menu-container" data-simplebar="">

                <!--- Sidemenu -->
                <ul class="side-nav">

                    <li class="side-nav-title side-nav-item">Navigation</li>

                    <li>
                        <a href="@Url.Action("Index", "Default")"
                           class="side-nav-link">
                            <i class="uil-home-alt"></i>
                            <span> Dashboard </span>
                        </a>
                    </li>

                    @*<li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="@Url.Action("Index", "Default")" aria-expanded="false" aria-controls="" class="side-nav-link">
                                <i class="uil-home-alt"></i>
                                <span> Dashboards </span>
                            </a>

                        </li>*@

                    <li>
                        <a href="@Url.Action("Index", "Employee")"
                           class="side-nav-link">
                            <i class="uil uil-users-alt"></i>
                            <span> Employee </span>
                        </a>
                    </li>

                    @*<li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="@Url.Action("Index", "Employee")">
                                <i class="uil uil-edit-alt"></i>
                                <span> Employee </span>
                            </a>

                        </li>*@
                    <li>
                        <a href="@Url.Action("Index", "Customer")"
                           class="side-nav-link">
                            <i class="uil uil-users-alt"></i>
                            <span> Customer </span>
                        </a>
                    </li>
                    @*<li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="@Url.Action("Index", "Customer")">
                                <i class="uil uil-users-alt"></i>
                                <span> Customer  </span>
                            </a>

                        </li>*@

                    <li>
                        <a href="@Url.Action("Index", "Service")"
                           class="side-nav-link">
                            <i class="uil uil-edit-alt"></i>
                            <span> Services </span>
                        </a>
                    </li>

                    @*<li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="@Url.Action("Index", "Service")">
                                <i class="uil-store"></i>
                                <span> Service </span>
                            </a>

                        </li>*@


                    <li>
                        <a href="@Url.Action("Index", "Orders")"
                           class="side-nav-link">
                            <i class="uil uil-shopping-cart-alt"></i>
                            <span> Orders </span>
                        </a>
                    </li>
                    @*<li class="side-nav-item">
                            <a data-bs-toggle="collapse" href="@Url.Action("Index" , "Orders")">
                                <i class="uil uil-shopping-cart-alt"></i>
                                <span> Orders </span>
                            </a>

                        </li>*@

                </ul>


                <!-- End Sidebar -->

                <div class="clearfix"></div>

            </div>
            <!-- Sidebar -left -->

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div class="navbar-custom">
                    <ul class="list-unstyled topbar-menu float-end mb-0">
                        <li class="dropdown notification-list d-lg-none">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <i class="dripicons-search noti-icon"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
                                <form class="p-3">
                                    <input type="text" class="form-control" placeholder="Search ..." aria-label="Recipient's username">
                                </form>
                            </div>
                        </li>
                        <li class="dropdown notification-list topbar-dropdown">
                            <a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <img src="~/images/us.jpg" alt="user-image" class="me-0 me-sm-1" height="12">
                                <span class="align-middle d-none d-sm-inline-block">English</span> <i class="mdi mdi-chevron-down d-none d-sm-inline-block align-middle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <img src="https://icons.iconarchive.com/icons/wikipedia/flags/1024/SA-Saudi-Arabia-Flag-icon.png" alt="user-image" class="me-1" height="12"> <span class="align-middle">العربية</span>
                                </a>

                            </div>
                        </li>






                        <li class="dropdown notification-list">
                            <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                                <span class="account-user-avatar">
                                    <img src="~/images/avatar-1.jpg" alt="user-image" class="rounded-circle">
                                </span>
                                <span>
                                    <span class="account-user-name">Admin</span>
                                    <span class="account-position">Web Developer</span>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

                                <!-- item-->
                                <a href="javascript:void(0);" class="dropdown-item notify-item">
                                    <i class="mdi mdi-logout me-1"></i>
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>

                    </ul>
                    <button class="button-menu-mobile open-left">
                        <i class="mdi mdi-menu"></i>
                    </button>
                    <div class="app-search dropdown d-none d-lg-block">
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control dropdown-toggle" placeholder="Search..." id="top-search">
                                <span class="mdi mdi-magnify search-icon"></span>
                                <button class="input-group-text btn-primary" type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end Topbar -->
                <!-- Start Content-->
                <!-- render body -->
                @RenderBody()
            </div> <!-- content -->
            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <script>document.write(new Date().getFullYear())</script> © Hyper - Coderthemes.com
                        </div>
                        <div class="col-md-6">
                            <div class="text-md-end footer-links d-none d-md-block">
                                <a href="javascript: void(0);">About</a>
                                <a href="javascript: void(0);">Support</a>
                                <a href="javascript: void(0);">Contact Us</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->
    <!-- bundle -->
    <script src="~/Scripts/vendor.min.js"></script>
    <script src="~/Scripts/app.min.js"></script>
    <!-- quill js -->
    <script src="~/Scripts/quill.min.js"></script>
    <!-- Init js-->
    <script src="~/Scripts/demo.quilljs.js"></script>

    <!-- SimpleMDE js -->
    <script src="~/Scripts/simplemde.min.js"></script>

    <!-- SimpleMDE demo -->
    <script src="~/Scripts/demo.simplemde.js"></script>

</body>
</html>
